.social-links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1000;
  }
  
  .vertical-line {
    width: 1px;
    height: 75px;
    background-color: white;
    margin-right: 2px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .social-icon {
    width: 22px;
    height: 22px;
    color: rgb(227, 220, 227);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon:hover {
    color: white;
    transform: scale(1.1);
  }
  
  .social-icon svg {
    width: 100%;
    height: 100%;
  }
  