.works-page {
    padding: 60px 40px;
    text-align: center;
  }
  
  .works-page h1{
    font-family: 'Papyrus', fantasy;
    font-size: 32px;
  }

  .works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
  }
  
  .work-card {
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
  }

  .work-card:hover {
    transform: scale(1.05);
  }
  
  .work-card img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
  
  .work-card p {
    margin-top: 12px;
    font-weight: 600;
  }
  